@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.Game {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;

  & > .hours {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: calc(64px * 4);
    height: calc(32px * 4);
    font-size: 40px;
    color: white;
    text-align: center;
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
    background-image: url("/images/board.png");
    background-size: calc(64px * 4) calc(32px * 4);
  }

  & > canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    background: #eeeeee;
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
  }
}

html {
  overflow: hidden;
}
