@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.Game{

    font-family: 'Press Start 2P', cursive;
    font-size: 12px;

    &>.hours{
        position: fixed;
        top:20px;
        right:20px;
        padding: 20px;
        background:white;
        z-index: 10;
        width:100px;
        text-align: center;
    }
    
    &>canvas{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background:#eeeeee;
    }
}

html{
    overflow: hidden;
}