.MapEditor {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  & > .content {
    flex: 1;
    display: flex;
    position: relative;

    & > canvas {
      flex: 1;
      background-color: black;
    }

    & > .Sidebar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 350px;
      background-color: #eee;
      transform: translateX(350px);
      transition: transform 400ms;

      &.active {
        transform: none;
      }

      border-left: 2px solid #bbb;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .tileset {
    & > .tiles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .tile {
        display: flex;
        cursor: pointer;
        height: 64px;
        width: 64px;
        background-color: red;
      }
    }
  }
  .DisplayTile {
    font-size: 8px;
    cursor: pointer;
  }
}
